html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

.header{
    background-color: #fca0ef;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height:8%;
    z-index: 1; 
    /*use z-index to specify the layer priority*/

}

.map {
    background-color:#6e8666;
    position: absolute;
    left: 0;
    right: 20%;
    bottom: 0;
    top: 8%;
}

.sidebar {
    overflow-y: auto; /* This line allows the sidebar to scroll when there is
                         a lot of content in it */
    background-color: #90b8d9;
    position: absolute;
    right: 0; /*tell it to be to the side*/
    width: 20%; /* fixing widt of sidebar*/
    bottom: 0;
    top: 8%;
}

/*can use percentages to be more flexible
*/